/**
 * Dashboard CSS here
 */
body {
	
}

a {
	
}

.table>thead>tr>td,
.table>thead>tr>th {
	/*border-bottom: 0px;*/
}

.dash-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  font-style: normal;
  font-weight: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.dash-icon-overview {
  background-image: url(../imgs/overview_d.png);
}
.dash-icon-alarms {
  background-image: url(../imgs/alarms_d.png);
}
.dash-icon-plugins {
  background-image: url(../imgs/plugins_d.png);
}
.dash-icon-clients {
  background-image: url(../imgs/clients_d.png);
}
.dash-icon-sessions {
  background-image: url(../imgs/sessions_d.png);
}
.dash-icon-topics {
  background-image: url(../imgs/topics_d.png);
}
.dash-icon-routes {
  background-image: url(../imgs/routes_d.png);
}
.dash-icon-subscriptions {
  background-image: url(../imgs/subscriptions_d.png);
}
.dash-icon-websocket {
  background-image: url(../imgs/websocket_d.png);
}
.dash-icon-admins {
  background-image: url(../imgs/admins_d.png);
}
.dash-icon-http-api {
  background-image: url(../imgs/http_api_d.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-overview {
  background-image: url(../imgs/overview_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-alarms{
  background-image: url(../imgs/alarms_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-plugins{
  background-image: url(../imgs/plugins_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-clients {
  background-image: url(../imgs/clients_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-sessions {
  background-image: url(../imgs/sessions_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-topics {
  background-image: url(../imgs/topics_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-routes {
  background-image: url(../imgs/routes_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-subscriptions {
  background-image: url(../imgs/subscriptions_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-websocket {
  background-image: url(../imgs/websocket_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-admins {
  background-image: url(../imgs/admins_h.png);
}
.sidebar-menu .main-menu a:hover .dash-icon-http-api {
  background-image: url(../imgs/http_api_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-overview {
  background-image: url(../imgs/overview_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-alarms {
  background-image: url(../imgs/alarms_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-plugins{
  background-image: url(../imgs/plugins_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-clients {
  background-image: url(../imgs/clients_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-sessions {
  background-image: url(../imgs/sessions_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-topics {
  background-image: url(../imgs/topics_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-routes {
  background-image: url(../imgs/routes_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-subscriptions {
  background-image: url(../imgs/subscriptions_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-websocket {
  background-image: url(../imgs/websocket_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-admins {
  background-image: url(../imgs/admins_h.png);
}
.sidebar-menu .main-menu li.active > a .dash-icon-http-api {
  background-image: url(../imgs/http_api_h.png);
}
.user-info-navbar .user-info-menu .glyphicon-headle {
    padding-left: 23px;
}

.user-info-navbar .user-info-menu .headle {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
}
