{lib_dirs,["deps"]}.
{deps_dir,"deps"}.
{deps, [
    {gproc,".*",{git,"https://github.com/uwiger/gproc",{tag,"0.6.1"}}},
    {lager,".*",{git,"https://github.com/basho/lager",{tag,"3.2.4"}}},
    {pbkdf2,".*",{git,"https://github.com/emqtt/pbkdf2","master"}},
    {esockd,".*",{git,"https://github.com/voxoz/esockd","master"}},
    {cowboy,   ".*", {git, "git://github.com/extend/cowboy",         {tag, "1.0.1"}    }},
    {erlydtl,".*", {git, "git://github.com/evanmiller/erlydtl", {tag, "0.8.0"}  }},
    {active, ".*", {git, "git://github.com/synrc/active",       {tag, "1.9"}    }},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",        {tag, "master"} }},
    {n2o,".*", {git, "git://github.com/synrc/mqtt",{tag, ""}}},
    {bpe,".*", {git, "git://github.com/spawnproc/bpe",{tag, ""}}},
    {review,".*", {git, "git://github.com/synrc/review",{tag, ""}}},
    {emqttd,".*", {git, "git://github.com/synrc/emqttd",{tag, ""}}},
    {emq_dashboard,".*", {git, "git://github.com/synrc/emq_dashboard",{tag, "master"}}},
    {mad,".*", {git, "git://github.com/synrc/mad",{tag, "master"}}},
    {kvs,".*", {git, "git://github.com/synrc/kvs",{tag, "master"}}},
    {emqttc,".*", {git, "git://github.com/emqtt/emqttc",{tag, "master"}}},
    {mochiweb,".*",{git,"https://github.com/emqtt/mochiweb",""}}
]}.
{erl_opts, [{parse_transform,lager_transform}]}.
