{lib_dirs,["deps"]}.
{deps_dir,"deps"}.
{erl_opts, [{parse_transform,lager_transform}]}.
{deps, [
    {cowboy, ".*", {git, "git://github.com/voxoz/cowboy",  []}},
    {erlydtl,".*", {git, "git://github.com/voxoz/erlydtl", []}},
    {emqttc, ".*", {git, "git://github.com/voxoz/emqttc",  []}},
    {active, ".*", {git, "git://github.com/synrc/active",  []}},
    {nitro,  ".*", {git, "git://github.com/synrc/nitro",   []}},
    {n2o,    ".*", {git, "git://github.com/synrc/mqtt",    []}},
    {review, ".*", {git, "git://github.com/synrc/review",  []}},
    {kvs,    ".*", {git, "git://github.com/synrc/kvs",     []}},
    {bpe,    ".*", {git, "git://github.com/synrc/bpe",     []}},
    {emqttd, ".*", {git, "git://github.com/synrc/emqttd",  []}},
    {emq_dashboard,".*", {git, "git://github.com/synrc/emq_dashboard",[]}}
]}.
