{sub_dirs,["apps"]}.
{lib_dirs,["apps","deps","apps"]}.
{deps_dir,"deps"}.
{deps, [
    {gproc,".*",{git,"https://github.com/uwiger/gproc",{tag,"0.6.1"}}},
    {lager,".*",{git,"https://github.com/basho/lager",{tag,"3.2.4"}}},
    {pbkdf2,".*",{git,"https://github.com/emqtt/pbkdf2","master"}},
    {esockd,".*",{git,"https://github.com/voxoz/esockd","master"}},
    {kvs,".*", {git, "git://github.com/synrc/kvs",{tag, "master"}}},
    {mochiweb,".*",{git,"https://github.com/emqtt/mochiweb",""}},
    {lager_syslog,".*",{git,"https://github.com/voxoz/lager_syslog","master"}}
]}.
{erl_opts, [{parse_transform,lager_transform}]}.
