[
   {n2o, [{port,8000},
        {app,review},
        {mode,dev},
        {route,routes},
        {formatter,bert},
        {minify,{"apps/review/priv/static",
                ["deps/n2o/priv/bullet.js",
                 "deps/n2o/priv/n2o.js",
                 "apps/review/priv/mq.js",
                 "deps/n2o/priv/ftp.js",
                 "deps/n2o/priv/protocols/bert.js",
                 "deps/n2o/priv/protocols/nitrogen.js",
                 "deps/n2o/priv/utf8.js",
                 "deps/n2o/priv/validation.js"]}},
        {log_modules,config},
        {log_level,config},
        {log_backend,n2o_log},
        {origin,<<"*">>},
        {session,n2o_session},
        {auto_session,disabled},
        {pickler,n2o_pickle},
        {erroring,n2o_error},
        {event,pickle}]},
   {emq_dashboard, [{listeners_dash,[{http,18083,[{acceptors,4},{max_clients,512}]}]}]},
   {emq_modules, [{modules,[{emq_mod_presence,[{qos,1}]},
                            {emq_mod_subscription,[{<<"%u/%c/#">>,2}]},
                            {emq_mod_rewrite,[{rewrite,"x/#","^x/y/(.+)$","z/y/$1"},
                                              {rewrite,"y/+/z/#","^y/(.+)/z/(.+)$","y/z/$2"}]}]}]},
   {emqttd, [{listeners,[{http,8083,[{acceptors,4},{max_clients,512}]},
                          {tcp,1883,[{acceptors,4},{max_clients,512}]}]},
            {sysmon, [{long_gc,false},{long_schedule,240},{large_heap,8000000},
                      {busy_port,false},{busy_dist_port,true}]},
            {session,[{upgrade_qos,off},{max_inflight,32},{retry_interval,20},
                      {max_awaiting_rel,100},{await_rel_timeout,20},{enable_stats,off}]},
            {queue,[]},
            {allow_anonymous,true},
            {protocol,[{max_clientid_len,1024},
                       {max_packet_size,64000}]},
            {acl_file,"etc/acl.conf"},
            {plugins_etc_dir,"etc/plugins/"},
            {plugins_loaded_file, "etc/loaded_plugins"},
            {pubsub, [{pool_size,8},
                      {by_clientid,true},
                      {async,true} ]} ]},
   {kvs, [{dba,store_mnesia},
        {schema, [kvs_user, kvs_acl, kvs_feed, kvs_subscription ]} ]}
].
